:root {
--first-color-text:#212121;
--second-color-paragraf:#757575 ;
--three-color:#ffffff;
--header-mail-tel:#757575;
--color-logo :#2196F3;
--color-curennt :#2196F3;
--color-bacround: #2F303A;
--second-background: #F5F4FA;
----color-backround :#2196F3 ;
--color-hover-focus:#188CE8;
--black-rgba: 0px 4px 4px rgba(0, 0, 0, 0.15);
---second-color-rgba: rgba(255, 255, 255, 0.6);
--three-rgba: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
body {
font-family: 'Roboto' , 'Raleway' , sans-serif;
font-size: 14px;
letter-spacing: 0.03em;
color: var(--first-color-text);
border-color:var(--color-bacround) ;
 }
.header-link-logo {
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
color: var(--color-logo);
text-decoration: none;

}
.header-span {
color: var(--first-color-text);
}

.header-list-nav {
list-style: none;
}
.header-link {
font-weight: 500;
text-decoration: none;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--first-color-text);
}
 .current {
    color: var(--color-curennt);
 }

.header-contact {
    list-style: none;
}
/* -------Фокус и Ховер------- */

.header-mail-link {
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color:var(--header-mail-tel);
text-decoration: none;
}
.header-tel-link {
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--header-mail-tel);
text-decoration: none;
}

/* -----Секція Hero------- */
.section-bisnes {
    background:var(--color-bacround);
}
.bisnes-title {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--three-color);
}
/* -----------Кнопка Button-------- */
.hero-btn {
font-family: inherit;/* inherit Наслідує від боді */
font-weight: 700;
font-size: 16px;
line-height: 1.9;
text-align: center;
letter-spacing: 0.06em;
color: var(--three-color);
background: var(----color-backround);
box-shadow: var(--black-rgba);
border-radius: 4px;
}
.hero-btn:hover , 
.hero-btn:focus {
    border-color: var(--color-hover-focus);
}
/* ------Cекція характеристика --- */

.visually-hidden {
    position: absolute; 
width: 1px; 
height: 1px; 
margin: -1px; 
border: 0; 
padding: 0; 
white-space: nowrap; 
clip-path: inset(100%); 
clip: rect(0 0 0 0); 
overflow: hidden; 
}
.characteristics-title {
font-weight: 700;
line-height: 1.14;
text-transform: uppercase;
color:var(--first-color-text);
}
.characteristics-list {
    list-style: none;
}

.characteristics-text {
font-weight: 400;
line-height: 1.71;
color:var(--second-color-paragraf);
}
/* ---Сеція чим ми займаємося --- */

.type-activity-title {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
color:var(--first-color-text);
}
.type-activity-list {
    list-style: none;
    }
/* ---------Наша команда */
.section-team {
background:var(--second-background);
}
.team-title {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--first-color-text);
}
.team-list {
    list-style: none;
}
.team-name {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
color: var(--first-color-text);
}
.team-text {
font-weight: 400;
font-size: 16px;
line-height: 1.19;
text-align: center;
color: var(--second-color-paragraf);
}
/* ----Footer---- */
.footer {
    background:var(--color-bacround);
}
.footer-logo {
    font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
color: var(--color-logo);
text-decoration: none;
}
.footer-span {
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
color: var(--three-color);
}
.footer-list{
list-style: none;
}
.footer-text {
font-weight: 400;
line-height: 1.71;
color: var(--three-color);

}
.footer-link-mail {
font-weight: 400;
line-height: 1.71;
color: var(---second-color-rgba);
text-decoration: none;
}
.footer-link-tel {
font-weight: 400;
line-height: 1.71;
color: var(---second-color-rgba);
text-decoration: none;
}

/* ----2 cторінка Портфолио */

.visually-hidden {
    position: absolute; 
width: 1px; 
height: 1px; 
margin: -1px; 
border: 0; 
padding: 0; 
white-space: nowrap; 
clip-path: inset(100%); 
clip: rect(0 0 0 0); 
overflow: hidden; 
}
.portfolio-list {
    list-style: none;
}
/* Кнопки для портфоліо */
.portfolio-button-link {
 font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.6;
text-align: center;
color: var(--three-color);  
background:var(----color-backround);
box-shadow: var(--three-rgba);
border-radius: 4px;
}
/* ----Hover  для Портфолио--- */
.portfolio-button-link:hover , 
.portfolio-button-link:focus {
    border-color: var(--color-hover-focus);
 }
.portfoklo-btn-link{
font-family: inherit;  
font-weight: 500;
font-size: 16px;
line-height: 1.6;
text-align: center;
color: var(--first-color-text);
background: #F5F4FA;
border-radius: 4px;
}
.portfolio-btn-link:hover , 
.portfolio-btn-link:focus {
    background-color: var(--color-hover-focus);
    color:var(--three-color);
}



 /* -------Друга секця списку  */
 .portfolio-items  {
    list-style: none;
}

.portfolio-title {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--first-color-text);
}
.potfolio-text {
font-weight: 400;
font-size: 16px;
line-height: 1.9;
color: var(--second-color-paragraf);
}

